<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-09 17:24:21
 * @LastEditTime: 2019-08-09 18:44:33
 * @LastEditors: Please set LastEditors
 -->
<div class="top-feature-row">
  <!-- <h1 class="fes-title" style="font-family: 'Ubuntu', sans-serif;">
  <i class="fa fa-anchor" aria-hidden="true">
  </i>
  START:DASH!!</h1>
  <% for (dash in theme.startdash) { %>
  <div class="top-feature-v2">
    <div class="the-feature square from_left_and_right">
      <a href="<%= theme.startdash[dash].url %>" target="_blank">
        <div class="img">
          <img src="<%- (theme.cdn || '') + theme.startdash[dash].img %>">
        </div>
        <div class="info">
          <h3><%= theme.startdash[dash].title %></h3>
          <p><%= theme.startdash[dash].desc %></p>
        </div>
      </a>
    </div>
  </div>
  <% } %> -->
</div>